object {
  display: inline-block;
  object-position: 50% 50%;
  width: 500px;
  height: 500px;
  object-fit: none;
}

p  {
  text-align: center;
  color: white;
  max-width: 100%;
}

@media all and (max-width: 675px) {

 object {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
 }
}
