object {
  display: block;
  margin: auto;
  max-width: 100%;
}

#CD {
  width: 500px;
  height: 500px;
  margin-top: 100px;
}

#BEANIE {
  width: 250px;
  height: 75px;
  margin-bottom: 15px;
}

#MIDNIGHT {
  width: 250px;
  height: 50px;
  margin-bottom: 10px;
}

#FV1Z {
  width: 350px;
  height: 60px;
  margin-bottom: 150px;
}

background-image {
  background-size:auto;
}

p  {
  text-align: center;
  color: white;
  max-width: 100%;
  margin-bottom: 35px;
}

@media query (max-width: 600px){
  object {
    display: block;
    margin: auto;
    max-height:100%;
    max-width: 100%;
    width: 500px;
    height: 500px;
  }

@media query (min-width: 601px) {
  object {
    display: block;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    width: 500px;
    height: 500px;
  }

}
