#MIDNIGHT {
  font-size: 15px;
  font-family: 'B612 Mono', monospace;
  margin: auto;
  margin-top: 50px;
  margin-bottom:100px;
  text-align: center;
}
audio {
  margin: auto;
  background-color: #1C2D43;
}
object {
  display: block;
  margin: auto;
  max-width: 100%;
  width: 500px;
  height: 500px;
}

p  {
  text-align: center;
  color: white;
  font-size: 20px;
  max-width: 39%;
  margin-top: 250px;
  margin: auto;
}

@media query (max-width: 600px){
  object {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 500px;
    height: 500px;
  }

  background-image {
    max-width: 50%;
  }

  p  {
    text-align: center;
    color: white;
    max-width: 100%;
  }
}

@media query (min-width: 601px) {
  object {
    display: block;
    margin: auto;
    max-width: 100%;
    width: 500px;
    height: 500px;
  }

  background-image {
    max-width: 100%;
    max-height: 100%
  }
}


}
